
  .opcoes button {
 background-color: brown;
   
  }
   
  .opcoes button:hover {
    background-color: #0056b3;
  }
   
  .resultados {
    margin-top: 20px;
  }
   
  .resultados p {
    margin-bottom: 5px;
  }